In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd
import random
import seaborn as sns
sns.set(style="ticks", color_codes=True)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import timeit
from tensorflow.keras.callbacks import EarlyStopping

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
 #Loading Data set
NSL_Data = pd.read_csv("/content/drive/My Drive/NSL_KDD_UNB/KDDTrain+.txt")
NSL_test= pd.read_csv("/content/drive/My Drive/NSL_KDD_UNB/KDDTest+.txt")

In [4]:
NSL_Data

        0  tcp  ftp_data   SF   491  ...  0.00.8  0.05  0.00.9   normal  20
0       0  udp     other   SF   146  ...    0.00  0.00    0.00   normal  15
1       0  tcp   private   S0     0  ...    1.00  0.00    0.00  neptune  19
2       0  tcp      http   SF   232  ...    0.01  0.00    0.01   normal  21
3       0  tcp      http   SF   199  ...    0.00  0.00    0.00   normal  21
4       0  tcp   private  REJ     0  ...    0.00  1.00    1.00  neptune  21
...    ..  ...       ...  ...   ...  ...     ...   ...     ...      ...  ..
125967  0  tcp   private   S0     0  ...    1.00  0.00    0.00  neptune  20
125968  8  udp   private   SF   105  ...    0.00  0.00    0.00   normal  21
125969  0  tcp      smtp   SF  2231  ...    0.00  0.01    0.00   normal  18
125970  0  tcp    klogin   S0     0  ...    1.00  0.00    0.00  neptune  20
125971  0  tcp  ftp_data   SF   151  ...    0.00  0.00    0.00   normal  21

[125972 rows x 43 columns]

In [59]:
unq=NSL_Data.iloc[:,41].unique()
unq

array(['normal', 'neptune', 'warezclient', 'ipsweep', 'portsweep',
       'teardrop', 'nmap', 'satan', 'smurf', 'pod', 'back',
       'guess_passwd', 'ftp_write', 'multihop', 'rootkit',
       'buffer_overflow', 'imap', 'warezmaster', 'phf', 'land',
       'loadmodule', 'spy', 'perl'], dtype=object)

In [6]:
NSL_Data.iloc[:,41].value_counts()

normal             67342
neptune            41214
satan               3633
ipsweep             3599
portsweep           2931
smurf               2646
nmap                1493
back                 956
teardrop             892
warezclient          890
pod                  201
guess_passwd          53
buffer_overflow       30
warezmaster           20
land                  18
imap                  11
rootkit               10
loadmodule             9
ftp_write              8
multihop               7
phf                    4
perl                   3
spy                    2
Name: normal, dtype: int64

In [82]:
diff=['apache2','mscan','snmpgetattack','processtable','httptunnel','ps','snmpguess',
      'mailbomb','named', 'sendmail',  'xterm', 'worm', 
      'xlock',  'xsnoop', 'sqlattack',
      'udpstorm']
for ii in diff:
  print(ii)
  value = NSL_test[NSL_test.target != ii]

apache2
mscan
snmpgetattack
processtable
httptunnel
ps
snmpguess
mailbomb
named
sendmail
xterm
worm
xlock
xsnoop
sqlattack
udpstorm

In [104]:
diff=['apache2','mscan','snmpgetattack','processtable','httptunnel','ps','snmpguess',
      'mailbomb','named', 'sendmail',  'xterm', 'worm', 
      'xlock',  'xsnoop', 'sqlattack',
      'udpstorm']
# for ii in diff:
#   print(ii)
#   NSL_test[NSL_test.target != ii]
# mm=NSL_test.drop(['target' == 'apache2'])
NSL_test[NSL_test.target != 'apache2']
NSL_test[NSL_test.target != 'mscan']
NSL_test[NSL_test.target != 'snmpgetattack']
NSL_test[NSL_test.target != 'processtable']
NSL_test[NSL_test.target != 'httptunnel']
NSL_test[NSL_test.target != 'ps']
NSL_test[NSL_test.target != 'snmpguess']
NSL_test[NSL_test.target != 'mailbomb']
NSL_test[NSL_test.target != 'named']
NSL_test[NSL_test.target != 'sendmail']
NSL_test[NSL_test.target != 'xterm']
NSL_test[NSL_test.target != 'worm']
NSL_test[NSL_test.target != 'xlock']
NSL_test[NSL_test.target != 'xsnoop']
NSL_test[NSL_test.target != 'sqlattack']
NSL_test[NSL_test.target != 'udpstorm']

TypeError: ignored

In [103]:
NSL_test

       duration protocol_type   service  ... dst_host_srv_rerror_rate   target  lrn
0             0           tcp   private  ...                     1.00  neptune   21
1             2           tcp  ftp_data  ...                     0.00   normal   21
2             0          icmp     eco_i  ...                     0.00    saint   15
3             1           tcp    telnet  ...                     0.71    mscan   11
4             0           tcp      http  ...                     0.00   normal   21
...         ...           ...       ...  ...                      ...      ...  ...
22538         0           tcp      smtp  ...                     0.00   normal   21
22539         0           tcp      http  ...                     0.00   normal   21
22540         0           tcp      http  ...                     0.07     back   15
22541         0           udp  domain_u  ...                     0.00   normal   21
22542         0           tcp    sunrpc  ...                     1.00    mscan   14

[22543 rows x 43 columns]

In [101]:
NSL_test.iloc[:,41].value_counts()

normal             9711
neptune            4656
guess_passwd       1231
mscan               996
warezmaster         944
apache2             737
satan               735
processtable        685
smurf               665
back                359
snmpguess           331
saint               319
mailbomb            293
snmpgetattack       178
portsweep           157
ipsweep             141
httptunnel          133
nmap                 73
pod                  41
buffer_overflow      20
multihop             18
named                17
ps                   15
sendmail             14
rootkit              13
xterm                13
teardrop             12
xlock                 9
land                  7
xsnoop                4
ftp_write             3
perl                  2
udpstorm              2
loadmodule            2
phf                   2
worm                  2
sqlattack             2
imap                  1
Name: target, dtype: int64

In [102]:
kk =NSL_test.iloc[:,41].unique()
kk
diff=['apache2','mscan','snmpgetattack','processtable','httptunnel','ps','snmpguess',
      'mailbomb','named', 'sendmail',  'xterm', 'worm', 
      'xlock',  'xsnoop', 'sqlattack',
      'udpstorm']

In [74]:
kk unq

ValueError: ignored

In [8]:
#shape of Data
NSL_Data.shape

(125972, 43)

In [9]:
#Naming the columns
col=['duration','protocol_type','service','flag','src_bytes','dst_bytes','land','wrong_fragment','urgent','hot','num_failed_logins',
  'logged_in','num_compromised','root_shell','su_attempted','num_root','num_file_creations','num_shells','num_access_files',
  'num_outbound_cmds','is_host_login','is_guest_login','count','srv_count','serror_rate','srv_serror_rate','rerror_rate','srv_rerror_rate',
  'same_srv_rate','diff_srv_rate','srv_diff_host_rate','dst_host_count','dst_host_srv_count','dst_host_same_srv_rate',
  'dst_host_diff_srv_rate','dst_host_same_src_port_rate','dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate',
  'dst_host_rerror_rate','dst_host_srv_rerror_rate','target','lrn']
NSL_Data.columns=col
NSL_test.columns=col
NSL_Data.head(20)

    duration protocol_type  ...       target lrn
0          0           udp  ...       normal  15
1          0           tcp  ...      neptune  19
2          0           tcp  ...       normal  21
3          0           tcp  ...       normal  21
4          0           tcp  ...      neptune  21
5          0           tcp  ...      neptune  21
6          0           tcp  ...      neptune  21
7          0           tcp  ...      neptune  21
8          0           tcp  ...      neptune  21
9          0           tcp  ...      neptune  21
10         0           tcp  ...      neptune  21
11         0           tcp  ...       normal  21
12         0           tcp  ...  warezclient  15
13         0           tcp  ...      neptune  19
14         0           tcp  ...      neptune  18
15         0           tcp  ...       normal  21
16         0          icmp  ...      ipsweep  18
17         0           tcp  ...       normal  21
18         0           tcp  ...       normal  21
19         0           tcp  ...      neptune  18

[20 rows x 43 columns]

In [10]:
NSL_Data.shape

(125972, 43)

In [11]:
#droping unnecessary columns
df = NSL_Data.drop('lrn',axis=1)
df_test = NSL_test.drop('lrn',axis=1)
df

        duration protocol_type  ... dst_host_srv_rerror_rate   target
0              0           udp  ...                     0.00   normal
1              0           tcp  ...                     0.00  neptune
2              0           tcp  ...                     0.01   normal
3              0           tcp  ...                     0.00   normal
4              0           tcp  ...                     1.00  neptune
...          ...           ...  ...                      ...      ...
125967         0           tcp  ...                     0.00  neptune
125968         8           udp  ...                     0.00   normal
125969         0           tcp  ...                     0.00   normal
125970         0           tcp  ...                     0.00  neptune
125971         0           tcp  ...                     0.00   normal

[125972 rows x 42 columns]

In [12]:
df_test

       duration protocol_type  ... dst_host_srv_rerror_rate   target
0             0           tcp  ...                     1.00  neptune
1             2           tcp  ...                     0.00   normal
2             0          icmp  ...                     0.00    saint
3             1           tcp  ...                     0.71    mscan
4             0           tcp  ...                     0.00   normal
...         ...           ...  ...                      ...      ...
22538         0           tcp  ...                     0.00   normal
22539         0           tcp  ...                     0.00   normal
22540         0           tcp  ...                     0.07     back
22541         0           udp  ...                     0.00   normal
22542         0           tcp  ...                     1.00    mscan

[22543 rows x 42 columns]

In [13]:
print(df.dtypes)

duration                         int64
protocol_type                   object
service                         object
flag                            object
src_bytes                        int64
dst_bytes                        int64
land                             int64
wrong_fragment                   int64
urgent                           int64
hot                              int64
num_failed_logins                int64
logged_in                        int64
num_compromised                  int64
root_shell                       int64
su_attempted                     int64
num_root                         int64
num_file_creations               int64
num_shells                       int64
num_access_files                 int64
num_outbound_cmds                int64
is_host_login                    int64
is_guest_login                   int64
count                            int64
srv_count                        int64
serror_rate                    float64
srv_serror_rate                float64
rerror_rate                    float64
srv_rerror_rate                float64
same_srv_rate                  float64
diff_srv_rate                  float64
srv_diff_host_rate             float64
dst_host_count                   int64
dst_host_srv_count               int64
dst_host_same_srv_rate         float64
dst_host_diff_srv_rate         float64
dst_host_same_src_port_rate    float64
dst_host_srv_diff_host_rate    float64
dst_host_serror_rate           float64
dst_host_srv_serror_rate       float64
dst_host_rerror_rate           float64
dst_host_srv_rerror_rate       float64
target                          object
dtype: object

In [14]:
from sklearn import preprocessing
#protocol_type
protocol_type = preprocessing.LabelEncoder()
protocol_type.fit(df['protocol_type'])
df['protocol_type']=protocol_type.transform(df['protocol_type'])
#service
service = preprocessing.LabelEncoder()
service.fit(df['service'])
df['service']=service.transform(df['service'])
# flag
service = preprocessing.LabelEncoder()
service.fit(df['flag'])
df['flag']=service.transform(df['flag'])
# target
service = preprocessing.LabelEncoder()
service.fit(df['target'])
df['target']=service.transform(df['target'])

In [15]:
from sklearn import preprocessing
#protocol_type
protocol_type = preprocessing.LabelEncoder()
protocol_type.fit(df_test['protocol_type'])
df_test['protocol_type']=protocol_type.transform(df_test['protocol_type'])
#service
service = preprocessing.LabelEncoder()
service.fit(df_test['service'])
df_test['service']=service.transform(df_test['service'])
# flag
service = preprocessing.LabelEncoder()
service.fit(df_test['flag'])
df_test['flag']=service.transform(df_test['flag'])
# target
service = preprocessing.LabelEncoder()
service.fit(df_test['target'])
df_test['target']=service.transform(df_test['target'])

In [16]:
 df.head(20)

    duration  protocol_type  ...  dst_host_srv_rerror_rate  target
0          0              2  ...                      0.00      11
1          0              1  ...                      0.00       9
2          0              1  ...                      0.01      11
3          0              1  ...                      0.00      11
4          0              1  ...                      1.00       9
5          0              1  ...                      0.00       9
6          0              1  ...                      0.00       9
7          0              1  ...                      0.00       9
8          0              1  ...                      0.00       9
9          0              1  ...                      1.00       9
10         0              1  ...                      0.00       9
11         0              1  ...                      0.00      11
12         0              1  ...                      0.00      21
13         0              1  ...                      0.00       9
14         0              1  ...                      0.00       9
15         0              1  ...                      0.00      11
16         0              0  ...                      0.00       5
17         0              1  ...                      0.00      11
18         0              1  ...                      0.00      11
19         0              1  ...                      0.00       9

[20 rows x 42 columns]

In [17]:
df_test.head()

   duration  protocol_type  ...  dst_host_srv_rerror_rate  target
0         0              1  ...                      1.00      14
1         2              1  ...                      0.00      16
2         0              0  ...                      0.00      24
3         1              1  ...                      0.71      11
4         0              1  ...                      0.00      16

[5 rows x 42 columns]

In [18]:
 D=['duration','protocol_type','service','flag','src_bytes','dst_bytes','land','wrong_fragment','urgent','hot','num_failed_logins',
  'logged_in','num_compromised','root_shell','su_attempted','num_root','num_file_creations','num_shells','num_access_files',
  'num_outbound_cmds','is_host_login','is_guest_login','count','srv_count','serror_rate','srv_serror_rate','rerror_rate','srv_rerror_rate',
  'same_srv_rate','diff_srv_rate','srv_diff_host_rate','dst_host_count','dst_host_srv_count','dst_host_same_srv_rate',
  'dst_host_diff_srv_rate','dst_host_same_src_port_rate','dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate',
  'dst_host_rerror_rate','dst_host_srv_rerror_rate']
X=df[D]
X_test=df_test[D]
y=df['target']
y_test=df_test['target']

In [19]:
X.dtypes

duration                         int64
protocol_type                    int64
service                          int64
flag                             int64
src_bytes                        int64
dst_bytes                        int64
land                             int64
wrong_fragment                   int64
urgent                           int64
hot                              int64
num_failed_logins                int64
logged_in                        int64
num_compromised                  int64
root_shell                       int64
su_attempted                     int64
num_root                         int64
num_file_creations               int64
num_shells                       int64
num_access_files                 int64
num_outbound_cmds                int64
is_host_login                    int64
is_guest_login                   int64
count                            int64
srv_count                        int64
serror_rate                    float64
srv_serror_rate                float64
rerror_rate                    float64
srv_rerror_rate                float64
same_srv_rate                  float64
diff_srv_rate                  float64
srv_diff_host_rate             float64
dst_host_count                   int64
dst_host_srv_count               int64
dst_host_same_srv_rate         float64
dst_host_diff_srv_rate         float64
dst_host_same_src_port_rate    float64
dst_host_srv_diff_host_rate    float64
dst_host_serror_rate           float64
dst_host_srv_serror_rate       float64
dst_host_rerror_rate           float64
dst_host_srv_rerror_rate       float64
dtype: object

In [20]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
#selecting 10 best features
best= SelectKBest(chi2, k=10)
X_new=best.fit_transform(X, y)
# X_new_test=
X_new.shape

(125972, 10)

In [23]:
X_new

array([[0.000e+00, 4.400e+01, 1.460e+02, ..., 1.000e+00, 2.550e+02,
        1.000e+00],
       [0.000e+00, 4.900e+01, 0.000e+00, ..., 6.000e+00, 2.550e+02,
        2.600e+01],
       [0.000e+00, 2.400e+01, 2.320e+02, ..., 5.000e+00, 3.000e+01,
        2.550e+02],
       ...,
       [0.000e+00, 5.400e+01, 2.231e+03, ..., 1.000e+00, 2.550e+02,
        3.000e+01],
       [0.000e+00, 3.000e+01, 0.000e+00, ..., 8.000e+00, 2.550e+02,
        8.000e+00],
       [0.000e+00, 2.000e+01, 1.510e+02, ..., 1.000e+00, 2.550e+02,
        7.700e+01]])

In [21]:
mask = best.get_support() #list of booleans
new_features = [] # The list of your K best features

for bool, feature in zip(mask, D):
    if bool:
        new_features.append(feature)

In [22]:
new_features

['duration',
 'service',
 'src_bytes',
 'dst_bytes',
 'wrong_fragment',
 'hot',
 'count',
 'srv_count',
 'dst_host_count',
 'dst_host_srv_count']

In [26]:
X_feat=pd.DataFrame(X,columns=new_features)
X_feat_test=pd.DataFrame(X_test,columns=new_features)
X_feat_test

       duration  service  ...  dst_host_count  dst_host_srv_count
0             0       45  ...             255                   1
1             2       19  ...             134                  86
2             0       13  ...               3                  57
3             1       55  ...              29                  86
4             0       22  ...             155                 255
...         ...      ...  ...             ...                 ...
22538         0       49  ...             100                 141
22539         0       22  ...             197                 255
22540         0       22  ...             255                 255
22541         0       11  ...             255                 252
22542         0       52  ...             255                  21

[22543 rows x 10 columns]

In [36]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_feat_scaled=scaler.fit_transform(X_feat)
X_feat_test_scaled=scaler.transform(X_feat_test)

In [37]:
X_feat_scaled

array([[-0.11024967,  0.78142044, -0.0077374 , ..., -0.36811175,
         0.73433738, -1.03569278],
       [-0.11024967,  1.08729745, -0.00776227, ..., -0.29927517,
         0.73433738, -0.80986218],
       [-0.11024967, -0.44208761, -0.00772275, ..., -0.31304249,
        -1.53366668,  1.25874613],
       ...,
       [-0.11024967,  1.39317446, -0.00738222, ..., -0.36811175,
         0.73433738, -0.77372929],
       [-0.11024967, -0.0750352 , -0.00776227, ..., -0.27174054,
         0.73433738, -0.97246022],
       [-0.11024967, -0.68678922, -0.00773655, ..., -0.36811175,
         0.73433738, -0.34916776]])

In [38]:
X_feat_test_scaled

array([[-1.10249666e-01,  8.42595838e-01, -7.76227089e-03, ...,
        -3.68111748e-01,  7.34337380e-01, -1.03569278e+00],
       [-1.09481769e-01, -7.47964621e-01, -5.55064098e-03, ...,
        -3.68111748e-01, -4.85344803e-01, -2.67868739e-01],
       [-1.10249666e-01, -1.11501704e+00, -7.75886392e-03, ...,
         5.12996424e-01, -1.80582717e+00, -5.29832237e-01],
       ...,
       [-1.10249666e-01, -5.64438415e-01,  1.52851669e-03, ...,
        -2.44205912e-01,  7.34337380e-01,  1.25874613e+00],
       [-1.10249666e-01, -1.23736784e+00, -7.75511627e-03, ...,
        -2.99275172e-01,  7.34337380e-01,  1.23164646e+00],
       [-1.10249666e-01,  1.27082365e+00, -7.76227089e-03, ...,
        -2.44205912e-01,  7.34337380e-01, -8.55028303e-01]])

In [39]:
from keras.layers import LSTM, SimpleRNN, GRU
from __future__ import print_function
# from sklearn.cross_validation import train_test_split
import pandas as pd
import numpy as np
np.random.seed(1337)  # for reproducibility
from keras.preprocessing import sequence
from keras.utils import np_utils
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Embedding
from keras.layers import LSTM, SimpleRNN, GRU
from keras.datasets import imdb
from keras.utils.np_utils import to_categorical
from sklearn.metrics import (precision_score, recall_score,f1_score, accuracy_score,mean_squared_error,mean_absolute_error)
from sklearn import metrics
from sklearn.preprocessing import Normalizer
import h5py
from keras import callbacks
from keras.callbacks import ModelCheckpoint, EarlyStopping, ReduceLROnPlateau, CSVLogger

Using TensorFlow backend.

In [40]:
y_train1 = np.array(y)
y_test1 = np.array(y_test)

y_train= to_categorical(y_train1)
y_test= to_categorical(y_test1)

X_train = np.array(X_feat_scaled)
X_test = np.array(X_feat_test_scaled)

In [41]:
X_train = np.reshape(X_train, (X_train.shape[0], 1, X_train.shape[1]))
X_test = np.reshape(X_test, (X_test.shape[0], 1, X_test.shape[1]))

In [52]:
y_test

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [48]:
batch_size = 32
# 1. define the network
model = Sequential()
model.add(LSTM(4,input_dim=10))  # try using a GRU instead, for fun
model.add(Dropout(0.1))
model.add(Dense(500))
model.add(Dropout(0.1))
model.add(Dense(23))
model.add(Activation('softmax'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: UserWarning: The `input_dim` and `input_length` arguments in recurrent layers are deprecated. Use `input_shape` instead.
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: UserWarning: Update your `LSTM` call to the Keras 2 API: `LSTM(4, input_shape=(None, 10))`
  after removing the cwd from sys.path.

In [49]:
monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, patience=5, verbose=1, mode='auto',
      restore_best_weights=True)

In [50]:
# try using different optimizers and different optimizer configs
model.compile(loss='categorical_crossentropy',optimizer='adadelta',metrics=['accuracy'])
model.fit(X_train, y_train, validation_data=(X_test, y_test),batch_size=batch_size, nb_epoch=50,callbacks=[monitor])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  This is separate from the ipykernel package so we can avoid doing imports until

ValueError: ignored

In [ ]:
pred_LSTM=model.predict_classes(X_test)

In [ ]:
from sklearn.metrics import classification_report
# target_names = ['0', 'class 1', 'class 2','class 3','class 4']
print(classification_report(service.inverse_transform(y_test1), service.inverse_transform(pred_LSTM)))