In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import random
import seaborn as sns
sns.set(style="ticks", color_codes=True)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import timeit
from tensorflow.keras.callbacks import EarlyStopping

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
 #Loading Data set
NSL_Data = pd.read_csv("/content/drive/My Drive/NSL KDD/KDDTrain+.txt")

In [ ]:
NSL_Data

        0  tcp  ftp_data   SF   491  ...  0.00.8  0.05  0.00.9   normal  20
0       0  udp     other   SF   146  ...    0.00  0.00    0.00   normal  15
1       0  tcp   private   S0     0  ...    1.00  0.00    0.00  neptune  19
2       0  tcp      http   SF   232  ...    0.01  0.00    0.01   normal  21
3       0  tcp      http   SF   199  ...    0.00  0.00    0.00   normal  21
4       0  tcp   private  REJ     0  ...    0.00  1.00    1.00  neptune  21
...    ..  ...       ...  ...   ...  ...     ...   ...     ...      ...  ..
125967  0  tcp   private   S0     0  ...    1.00  0.00    0.00  neptune  20
125968  8  udp   private   SF   105  ...    0.00  0.00    0.00   normal  21
125969  0  tcp      smtp   SF  2231  ...    0.00  0.01    0.00   normal  18
125970  0  tcp    klogin   S0     0  ...    1.00  0.00    0.00  neptune  20
125971  0  tcp  ftp_data   SF   151  ...    0.00  0.00    0.00   normal  21

[125972 rows x 43 columns]

In [ ]:
NSL_Data.iloc[:,41].unique()

array(['normal', 'neptune', 'warezclient', 'ipsweep', 'portsweep',
       'teardrop', 'nmap', 'satan', 'smurf', 'pod', 'back',
       'guess_passwd', 'ftp_write', 'multihop', 'rootkit',
       'buffer_overflow', 'imap', 'warezmaster', 'phf', 'land',
       'loadmodule', 'spy', 'perl'], dtype=object)

In [ ]:
#shape of Data
NSL_Data.shape

(125972, 43)

In [ ]:
#Naming the columns
col=['duration','protocol_type','service','flag','src_bytes','dst_bytes','land','wrong_fragment','urgent','hot','num_failed_logins',
  'logged_in','num_compromised','root_shell','su_attempted','num_root','num_file_creations','num_shells','num_access_files',
  'num_outbound_cmds','is_host_login','is_guest_login','count','srv_count','serror_rate','srv_serror_rate','rerror_rate','srv_rerror_rate',
  'same_srv_rate','diff_srv_rate','srv_diff_host_rate','dst_host_count','dst_host_srv_count','dst_host_same_srv_rate',
  'dst_host_diff_srv_rate','dst_host_same_src_port_rate','dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate',
  'dst_host_rerror_rate','dst_host_srv_rerror_rate','target','lrn']
NSL_Data.columns=col
NSL_Data.head(20)

    duration protocol_type  ...       target lrn
0          0           udp  ...       normal  15
1          0           tcp  ...      neptune  19
2          0           tcp  ...       normal  21
3          0           tcp  ...       normal  21
4          0           tcp  ...      neptune  21
5          0           tcp  ...      neptune  21
6          0           tcp  ...      neptune  21
7          0           tcp  ...      neptune  21
8          0           tcp  ...      neptune  21
9          0           tcp  ...      neptune  21
10         0           tcp  ...      neptune  21
11         0           tcp  ...       normal  21
12         0           tcp  ...  warezclient  15
13         0           tcp  ...      neptune  19
14         0           tcp  ...      neptune  18
15         0           tcp  ...       normal  21
16         0          icmp  ...      ipsweep  18
17         0           tcp  ...       normal  21
18         0           tcp  ...       normal  21
19         0           tcp  ...      neptune  18

[20 rows x 43 columns]

In [ ]:

NSL_Data.shape

(125972, 43)

In [ ]:
#droping unnecessary columns
df = NSL_Data.drop('lrn',axis=1)
df

        duration protocol_type  ... dst_host_srv_rerror_rate   target
0              0           udp  ...                     0.00   normal
1              0           tcp  ...                     0.00  neptune
2              0           tcp  ...                     0.01   normal
3              0           tcp  ...                     0.00   normal
4              0           tcp  ...                     1.00  neptune
...          ...           ...  ...                      ...      ...
125967         0           tcp  ...                     0.00  neptune
125968         8           udp  ...                     0.00   normal
125969         0           tcp  ...                     0.00   normal
125970         0           tcp  ...                     0.00  neptune
125971         0           tcp  ...                     0.00   normal

[125972 rows x 42 columns]

In [ ]:
print(df.dtypes)

duration                         int64
protocol_type                   object
service                         object
flag                            object
src_bytes                        int64
dst_bytes                        int64
land                             int64
wrong_fragment                   int64
urgent                           int64
hot                              int64
num_failed_logins                int64
logged_in                        int64
num_compromised                  int64
root_shell                       int64
su_attempted                     int64
num_root                         int64
num_file_creations               int64
num_shells                       int64
num_access_files                 int64
num_outbound_cmds                int64
is_host_login                    int64
is_guest_login                   int64
count                            int64
srv_count                        int64
serror_rate                    float64
srv_serror_rate                float64
rerror_rate                    float64
srv_rerror_rate                float64
same_srv_rate                  float64
diff_srv_rate                  float64
srv_diff_host_rate             float64
dst_host_count                   int64
dst_host_srv_count               int64
dst_host_same_srv_rate         float64
dst_host_diff_srv_rate         float64
dst_host_same_src_port_rate    float64
dst_host_srv_diff_host_rate    float64
dst_host_serror_rate           float64
dst_host_srv_serror_rate       float64
dst_host_rerror_rate           float64
dst_host_srv_rerror_rate       float64
target                          object
dtype: object

In [ ]:
from sklearn import preprocessing
#protocol_type
protocol_type = preprocessing.LabelEncoder()
protocol_type.fit(df['protocol_type'])
df['protocol_type']=protocol_type.transform(df['protocol_type'])
#service
service = preprocessing.LabelEncoder()
service.fit(df['service'])
df['service']=service.transform(df['service'])
# flag
service = preprocessing.LabelEncoder()
service.fit(df['flag'])
df['flag']=service.transform(df['flag'])
# target
service = preprocessing.LabelEncoder()
service.fit(df['target'])
df['target']=service.transform(df['target'])

In [ ]:
 df.head(20)

    duration  protocol_type  ...  dst_host_srv_rerror_rate  target
0          0              2  ...                      0.00      11
1          0              1  ...                      0.00       9
2          0              1  ...                      0.01      11
3          0              1  ...                      0.00      11
4          0              1  ...                      1.00       9
5          0              1  ...                      0.00       9
6          0              1  ...                      0.00       9
7          0              1  ...                      0.00       9
8          0              1  ...                      0.00       9
9          0              1  ...                      1.00       9
10         0              1  ...                      0.00       9
11         0              1  ...                      0.00      11
12         0              1  ...                      0.00      21
13         0              1  ...                      0.00       9
14         0              1  ...                      0.00       9
15         0              1  ...                      0.00      11
16         0              0  ...                      0.00       5
17         0              1  ...                      0.00      11
18         0              1  ...                      0.00      11
19         0              1  ...                      0.00       9

[20 rows x 42 columns]

In [ ]:
 D=['duration','protocol_type','service','flag','src_bytes','dst_bytes','land','wrong_fragment','urgent','hot','num_failed_logins',
  'logged_in','num_compromised','root_shell','su_attempted','num_root','num_file_creations','num_shells','num_access_files',
  'num_outbound_cmds','is_host_login','is_guest_login','count','srv_count','serror_rate','srv_serror_rate','rerror_rate','srv_rerror_rate',
  'same_srv_rate','diff_srv_rate','srv_diff_host_rate','dst_host_count','dst_host_srv_count','dst_host_same_srv_rate',
  'dst_host_diff_srv_rate','dst_host_same_src_port_rate','dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate',
  'dst_host_rerror_rate','dst_host_srv_rerror_rate']
X=df[D]
y=df['target']

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
#selecting 10 best features
best= SelectKBest(chi2, k=10)
X_new=best.fit_transform(X, y)
X_new.shape

(125972, 10)

In [ ]:
mask = best.get_support() #list of booleans
new_features = [] # The list of your K best features

for bool, feature in zip(mask, D):
    if bool:
        new_features.append(feature)

In [ ]:
new_features

['duration',
 'service',
 'src_bytes',
 'dst_bytes',
 'wrong_fragment',
 'hot',
 'count',
 'srv_count',
 'dst_host_count',
 'dst_host_srv_count']

In [ ]:
X_feat=pd.DataFrame(X_new,columns=new_features)
X_feat

        duration  service  ...  dst_host_count  dst_host_srv_count
0            0.0     44.0  ...           255.0                 1.0
1            0.0     49.0  ...           255.0                26.0
2            0.0     24.0  ...            30.0               255.0
3            0.0     24.0  ...           255.0               255.0
4            0.0     49.0  ...           255.0                19.0
...          ...      ...  ...             ...                 ...
125967       0.0     49.0  ...           255.0                25.0
125968       8.0     49.0  ...           255.0               244.0
125969       0.0     54.0  ...           255.0                30.0
125970       0.0     30.0  ...           255.0                 8.0
125971       0.0     20.0  ...           255.0                77.0

[125972 rows x 10 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_feat_scaled=scaler.fit_transform(X_feat)

In [ ]:
X_feat_scaled

array([[-0.11024967,  0.78142044, -0.0077374 , ..., -0.36811175,
         0.73433738, -1.03569278],
       [-0.11024967,  1.08729745, -0.00776227, ..., -0.29927517,
         0.73433738, -0.80986218],
       [-0.11024967, -0.44208761, -0.00772275, ..., -0.31304249,
        -1.53366668,  1.25874613],
       ...,
       [-0.11024967,  1.39317446, -0.00738222, ..., -0.36811175,
         0.73433738, -0.77372929],
       [-0.11024967, -0.0750352 , -0.00776227, ..., -0.27174054,
         0.73433738, -0.97246022],
       [-0.11024967, -0.68678922, -0.00773655, ..., -0.36811175,
         0.73433738, -0.34916776]])

In [ ]:
ran = 42
X_train, X_test, y_train, y_test = train_test_split(X_feat_scaled, y, test_size=0.2, random_state = ran)

In [ ]:
from __future__ import print_function
# from sklearn.cross_validation import train_test_split
import pandas as pd
import numpy as np
np.random.seed(1337)  # for reproducibility
from keras.preprocessing import sequence
from keras.utils import np_utils
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Embedding
from keras.layers import LSTM, SimpleRNN, GRU
from keras.datasets import imdb
from keras.utils.np_utils import to_categorical
from sklearn.metrics import (precision_score, recall_score,f1_score, accuracy_score,mean_squared_error,mean_absolute_error)
from sklearn import metrics
from sklearn.preprocessing import Normalizer
import h5py
from keras import callbacks
from keras.callbacks import ModelCheckpoint, EarlyStopping, ReduceLROnPlateau, CSVLogger

Using TensorFlow backend.

In [ ]:
y_train1 = np.array(y_train)
y_test1 = np.array(y_test)

y_train= to_categorical(y_train1)
y_test= to_categorical(y_test1)

X_train = np.array(X_train)
X_test = np.array(X_test)

In [ ]:
batch_size = 64

# 1. define the network
model = Sequential()
model.add(Dense(500,input_dim=10,activation='relu'))  
model.add(Dropout(0.01))
model.add(Dense(300,activation='sigmoid'))  
model.add(Dropout(0.01))
model.add(Dense(200,activation='sigmoid'))  
model.add(Dropout(0.01))
model.add(Dense(100,activation='sigmoid'))  
model.add(Dropout(0.01))
model.add(Dense(50,activation='sigmoid'))  
model.add(Dropout(0.01))
model.add(Dense(23))
model.add(Activation('softmax'))
monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, patience=5, verbose=1, mode='auto',
      restore_best_weights=True)

In [ ]:
# try using different optimizers and different optimizer configs
model.compile(loss='categorical_crossentropy',optimizer='adadelta',metrics=['accuracy'])
model.fit(X_train, y_train, validation_data=(X_test, y_test),batch_size=batch_size, nb_epoch=100,callbacks=[monitor])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  This is separate from the ipykernel package so we can avoid doing imports until

Train on 100777 samples, validate on 25195 samples
Epoch 1/100
100777/100777 [==============================] - 18s 178us/step - loss: 1.0356 - accuracy: 0.6542 - val_loss: 0.5908 - val_accuracy: 0.8426
Epoch 2/100
100777/100777 [==============================] - 17s 172us/step - loss: 0.4860 - accuracy: 0.8676 - val_loss: 0.4084 - val_accuracy: 0.8847
Epoch 3/100
100777/100777 [==============================] - 17s 170us/step - loss: 0.3596 - accuracy: 0.8942 - val_loss: 0.3640 - val_accuracy: 0.8899
Epoch 4/100
100777/100777 [==============================] - 17s 169us/step - loss: 0.2993 - accuracy: 0.9085 - val_loss: 0.2738 - val_accuracy: 0.9171
Epoch 5/100
100777/100777 [==============================] - 17s 167us/step - loss: 0.2675 - accuracy: 0.9179 - val_loss: 0.2563 - val_accuracy: 0.9233
Epoch 6/100
100777/100777 [==============================] - 16s 161us/step - loss: 0.2467 - accuracy: 0.9245 - val_loss: 0.2368 - val_accuracy: 0.9269
Epoch 7/100
100777/100777 [==============================] - 17s 165us/step - loss: 0.2313 - accuracy: 0.9286 - val_loss: 0.2310 - val_accuracy: 0.9282
Epoch 8/100
100777/100777 [==============================] - 17s 173us/step - loss: 0.2191 - accuracy: 0.9314 - val_loss: 0.2156 - val_accuracy: 0.9322
Epoch 9/100
100777/100777 [==============================] - 19s 188us/step - loss: 0.2091 - accuracy: 0.9341 - val_loss: 0.2100 - val_accuracy: 0.9356
Epoch 10/100
100777/100777 [==============================] - 18s 183us/step - loss: 0.2002 - accuracy: 0.9362 - val_loss: 0.1977 - val_accuracy: 0.9392
Epoch 11/100
100777/100777 [==============================] - 18s 175us/step - loss: 0.1917 - accuracy: 0.9390 - val_loss: 0.1880 - val_accuracy: 0.9417
Epoch 12/100
100777/100777 [==============================] - 18s 175us/step - loss: 0.1866 - accuracy: 0.9411 - val_loss: 0.1812 - val_accuracy: 0.9445
Epoch 13/100
100777/100777 [==============================] - 17s 172us/step - loss: 0.1819 - accuracy: 0.9424 - val_loss: 0.1735 - val_accuracy: 0.9469
Epoch 14/100
100777/100777 [==============================] - 17s 169us/step - loss: 0.1780 - accuracy: 0.9434 - val_loss: 0.1864 - val_accuracy: 0.9396
Epoch 15/100
100777/100777 [==============================] - 17s 173us/step - loss: 0.1744 - accuracy: 0.9440 - val_loss: 0.1698 - val_accuracy: 0.9475
Epoch 16/100
100777/100777 [==============================] - 17s 166us/step - loss: 0.1718 - accuracy: 0.9447 - val_loss: 0.1696 - val_accuracy: 0.9459
Epoch 17/100
100777/100777 [==============================] - 16s 162us/step - loss: 0.1694 - accuracy: 0.9446 - val_loss: 0.1786 - val_accuracy: 0.9428
Epoch 18/100
100777/100777 [==============================] - 17s 165us/step - loss: 0.1671 - accuracy: 0.9451 - val_loss: 0.1637 - val_accuracy: 0.9476
Epoch 19/100
100777/100777 [==============================] - 16s 162us/step - loss: 0.1651 - accuracy: 0.9463 - val_loss: 0.1567 - val_accuracy: 0.9515
Epoch 20/100
100777/100777 [==============================] - 16s 162us/step - loss: 0.1636 - accuracy: 0.9464 - val_loss: 0.1605 - val_accuracy: 0.9497
Epoch 21/100
100777/100777 [==============================] - 16s 162us/step - loss: 0.1609 - accuracy: 0.9467 - val_loss: 0.1594 - val_accuracy: 0.9486
Epoch 22/100
100777/100777 [==============================] - 16s 160us/step - loss: 0.1599 - accuracy: 0.9472 - val_loss: 0.1588 - val_accuracy: 0.9492
Epoch 23/100
100777/100777 [==============================] - 16s 161us/step - loss: 0.1581 - accuracy: 0.9476 - val_loss: 0.1720 - val_accuracy: 0.9434
Epoch 24/100
100777/100777 [==============================] - 17s 167us/step - loss: 0.1562 - accuracy: 0.9481 - val_loss: 0.1569 - val_accuracy: 0.9509
Restoring model weights from the end of the best epoch
Epoch 00024: early stopping

In [ ]:
pred_NN=model.predict_classes(X_test)

In [ ]:
y_test

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [ ]:
from sklearn.metrics import classification_report
# target_names = ['0', 'class 1', 'class 2','class 3','class 4']
print(classification_report(service.inverse_transform(y_test1), service.inverse_transform(pred_NN)))

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

                 precision    recall  f1-score   support

           back       0.93      0.93      0.93       201
buffer_overflow       0.00      0.00      0.00         7
   guess_passwd       0.00      0.00      0.00        14
           imap       0.00      0.00      0.00         2
        ipsweep       0.80      0.87      0.83       743
           land       0.00      0.00      0.00         2
     loadmodule       0.00      0.00      0.00         3
       multihop       0.00      0.00      0.00         1
        neptune       0.98      0.97      0.97      8238
           nmap       0.52      0.22      0.31       298
         normal       0.97      0.99      0.98     13386
           perl       0.00      0.00      0.00         1
            phf       0.00      0.00      0.00         1
            pod       0.97      0.97      0.97        36
      portsweep       0.79      0.64      0.71       583
        rootkit       0.00      0.00      0.00         2
          satan       0.73      0.78      0.76       749
          smurf       1.00      0.97      0.99       551
            spy       0.00      0.00      0.00         1
       teardrop       1.00      1.00      1.00       196
    warezclient       0.78      0.84      0.81       176
    warezmaster       0.00      0.00      0.00         4

       accuracy                           0.95     25195
      macro avg       0.43      0.42      0.42     25195
   weighted avg       0.95      0.95      0.95     25195