In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import numpy as np
import pandas as pd
import random
import seaborn as sns
sns.set(style="ticks", color_codes=True)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import timeit
from tensorflow.keras.callbacks import EarlyStopping

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
 #Loading Data set
NSL_Data = pd.read_csv("/content/drive/My Drive/NSL KDD/KDDTrain+.txt")

In [4]:
NSL_Data

        0  tcp  ftp_data   SF   491  ...  0.00.8  0.05  0.00.9   normal  20
0       0  udp     other   SF   146  ...    0.00  0.00    0.00   normal  15
1       0  tcp   private   S0     0  ...    1.00  0.00    0.00  neptune  19
2       0  tcp      http   SF   232  ...    0.01  0.00    0.01   normal  21
3       0  tcp      http   SF   199  ...    0.00  0.00    0.00   normal  21
4       0  tcp   private  REJ     0  ...    0.00  1.00    1.00  neptune  21
...    ..  ...       ...  ...   ...  ...     ...   ...     ...      ...  ..
125967  0  tcp   private   S0     0  ...    1.00  0.00    0.00  neptune  20
125968  8  udp   private   SF   105  ...    0.00  0.00    0.00   normal  21
125969  0  tcp      smtp   SF  2231  ...    0.00  0.01    0.00   normal  18
125970  0  tcp    klogin   S0     0  ...    1.00  0.00    0.00  neptune  20
125971  0  tcp  ftp_data   SF   151  ...    0.00  0.00    0.00   normal  21

[125972 rows x 43 columns]

In [6]:
#shape of Data
NSL_Data.shape

(125972, 43)

In [7]:
#Naming the columns
col=['duration','protocol_type','service','flag','src_bytes','dst_bytes','land','wrong_fragment','urgent','hot','num_failed_logins',
  'logged_in','num_compromised','root_shell','su_attempted','num_root','num_file_creations','num_shells','num_access_files',
  'num_outbound_cmds','is_host_login','is_guest_login','count','srv_count','serror_rate','srv_serror_rate','rerror_rate','srv_rerror_rate',
  'same_srv_rate','diff_srv_rate','srv_diff_host_rate','dst_host_count','dst_host_srv_count','dst_host_same_srv_rate',
  'dst_host_diff_srv_rate','dst_host_same_src_port_rate','dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate',
  'dst_host_rerror_rate','dst_host_srv_rerror_rate','target','lrn']
NSL_Data.columns=col
NSL_Data.head(20)

    duration protocol_type  ...       target lrn
0          0           udp  ...       normal  15
1          0           tcp  ...      neptune  19
2          0           tcp  ...       normal  21
3          0           tcp  ...       normal  21
4          0           tcp  ...      neptune  21
5          0           tcp  ...      neptune  21
6          0           tcp  ...      neptune  21
7          0           tcp  ...      neptune  21
8          0           tcp  ...      neptune  21
9          0           tcp  ...      neptune  21
10         0           tcp  ...      neptune  21
11         0           tcp  ...       normal  21
12         0           tcp  ...  warezclient  15
13         0           tcp  ...      neptune  19
14         0           tcp  ...      neptune  18
15         0           tcp  ...       normal  21
16         0          icmp  ...      ipsweep  18
17         0           tcp  ...       normal  21
18         0           tcp  ...       normal  21
19         0           tcp  ...      neptune  18

[20 rows x 43 columns]

In [8]:
#droping unnecessary columns
df = NSL_Data.drop('lrn',axis=1)
df

        duration protocol_type  ... dst_host_srv_rerror_rate   target
0              0           udp  ...                     0.00   normal
1              0           tcp  ...                     0.00  neptune
2              0           tcp  ...                     0.01   normal
3              0           tcp  ...                     0.00   normal
4              0           tcp  ...                     1.00  neptune
...          ...           ...  ...                      ...      ...
125967         0           tcp  ...                     0.00  neptune
125968         8           udp  ...                     0.00   normal
125969         0           tcp  ...                     0.00   normal
125970         0           tcp  ...                     0.00  neptune
125971         0           tcp  ...                     0.00   normal

[125972 rows x 42 columns]

In [9]:
print(df.dtypes)

duration                         int64
protocol_type                   object
service                         object
flag                            object
src_bytes                        int64
dst_bytes                        int64
land                             int64
wrong_fragment                   int64
urgent                           int64
hot                              int64
num_failed_logins                int64
logged_in                        int64
num_compromised                  int64
root_shell                       int64
su_attempted                     int64
num_root                         int64
num_file_creations               int64
num_shells                       int64
num_access_files                 int64
num_outbound_cmds                int64
is_host_login                    int64
is_guest_login                   int64
count                            int64
srv_count                        int64
serror_rate                    float64
srv_serror_rate                float64
rerror_rate                    float64
srv_rerror_rate                float64
same_srv_rate                  float64
diff_srv_rate                  float64
srv_diff_host_rate             float64
dst_host_count                   int64
dst_host_srv_count               int64
dst_host_same_srv_rate         float64
dst_host_diff_srv_rate         float64
dst_host_same_src_port_rate    float64
dst_host_srv_diff_host_rate    float64
dst_host_serror_rate           float64
dst_host_srv_serror_rate       float64
dst_host_rerror_rate           float64
dst_host_srv_rerror_rate       float64
target                          object
dtype: object

In [0]:
from sklearn import preprocessing
#protocol_type
protocol_type = preprocessing.LabelEncoder()
protocol_type.fit(df['protocol_type'])
df['protocol_type']=protocol_type.transform(df['protocol_type'])
#service
service = preprocessing.LabelEncoder()
service.fit(df['service'])
df['service']=service.transform(df['service'])
# flag
service = preprocessing.LabelEncoder()
service.fit(df['flag'])
df['flag']=service.transform(df['flag'])
# target
service = preprocessing.LabelEncoder()
service.fit(df['target'])
df['target']=service.transform(df['target'])

In [11]:
 df.head(20)

    duration  protocol_type  ...  dst_host_srv_rerror_rate  target
0          0              2  ...                      0.00      11
1          0              1  ...                      0.00       9
2          0              1  ...                      0.01      11
3          0              1  ...                      0.00      11
4          0              1  ...                      1.00       9
5          0              1  ...                      0.00       9
6          0              1  ...                      0.00       9
7          0              1  ...                      0.00       9
8          0              1  ...                      0.00       9
9          0              1  ...                      1.00       9
10         0              1  ...                      0.00       9
11         0              1  ...                      0.00      11
12         0              1  ...                      0.00      21
13         0              1  ...                      0.00       9
14         0              1  ...                      0.00       9
15         0              1  ...                      0.00      11
16         0              0  ...                      0.00       5
17         0              1  ...                      0.00      11
18         0              1  ...                      0.00      11
19         0              1  ...                      0.00       9

[20 rows x 42 columns]

In [0]:
 D=['duration','protocol_type','service','flag','src_bytes','dst_bytes','land','wrong_fragment','urgent','hot','num_failed_logins',
  'logged_in','num_compromised','root_shell','su_attempted','num_root','num_file_creations','num_shells','num_access_files',
  'num_outbound_cmds','is_host_login','is_guest_login','count','srv_count','serror_rate','srv_serror_rate','rerror_rate','srv_rerror_rate',
  'same_srv_rate','diff_srv_rate','srv_diff_host_rate','dst_host_count','dst_host_srv_count','dst_host_same_srv_rate',
  'dst_host_diff_srv_rate','dst_host_same_src_port_rate','dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate',
  'dst_host_rerror_rate','dst_host_srv_rerror_rate']
X=df[D]
y=df['target']

In [13]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
#selecting 10 best features
best= SelectKBest(chi2, k=10)
X_new=best.fit_transform(X, y)
X_new.shape

(125972, 10)

In [0]:
mask = best.get_support() #list of booleans
new_features = [] # The list of your K best features

for bool, feature in zip(mask, D):
    if bool:
        new_features.append(feature)

In [15]:
new_features

['duration',
 'service',
 'src_bytes',
 'dst_bytes',
 'wrong_fragment',
 'hot',
 'count',
 'srv_count',
 'dst_host_count',
 'dst_host_srv_count']

In [16]:
X_feat=pd.DataFrame(X_new,columns=new_features)
X_feat

        duration  service  ...  dst_host_count  dst_host_srv_count
0            0.0     44.0  ...           255.0                 1.0
1            0.0     49.0  ...           255.0                26.0
2            0.0     24.0  ...            30.0               255.0
3            0.0     24.0  ...           255.0               255.0
4            0.0     49.0  ...           255.0                19.0
...          ...      ...  ...             ...                 ...
125967       0.0     49.0  ...           255.0                25.0
125968       8.0     49.0  ...           255.0               244.0
125969       0.0     54.0  ...           255.0                30.0
125970       0.0     30.0  ...           255.0                 8.0
125971       0.0     20.0  ...           255.0                77.0

[125972 rows x 10 columns]

In [0]:
ran = 42
X_train, X_test, y_train, y_test = train_test_split(X_feat, y, test_size=0.2, random_state = ran)

In [18]:
from sklearn.ensemble import RandomForestClassifier
RFC=RandomForestClassifier(n_estimators=5,max_depth=None,random_state=42)
RFC.fit(X_train,y_train.values.ravel())
pred_RFC=RFC.predict(X_test)
RFC_accuracy_store=accuracy_score(y_test.values.ravel(),pred_RFC)
RFC_accuracy_store

0.9836078587021234