In [1]:
import numpy as np
import pandas as pd
import random
import seaborn as sns
sns.set(style="ticks", color_codes=True)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import timeit
# from tensorflow.keras.callbacks import EarlyStopping

ModuleNotFoundError: No module named 'seaborn'

In [2]:
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)

In [3]:
# Loading Dataset from local host 
data_kdd = pd.read_csv("~/Documents/Uwaterloo_Study_Docs/659_ECE/Research_Project/Datasets/DATASET/KDD_CUP_1999/corrected")
print("DATA: \n", data_kdd)

DATA:
         0  udp  private  SF  105  146  0.1  0.2  0.3  0.4  ...  254  1.00.1  \
0       0  udp  private  SF  105  146    0    0    0    0  ...  254     1.0
1       0  udp  private  SF  105  146    0    0    0    0  ...  254     1.0
2       0  udp  private  SF  105  146    0    0    0    0  ...  254     1.0
3       0  udp  private  SF  105  146    0    0    0    0  ...  254     1.0
4       0  udp  private  SF  105  146    0    0    0    0  ...  255     1.0
...    ..  ...      ...  ..  ...  ...  ...  ...  ...  ...  ...  ...     ...
311023  0  udp  private  SF  105  147    0    0    0    0  ...  255     1.0
311024  0  udp  private  SF  105  147    0    0    0    0  ...  255     1.0
311025  0  udp  private  SF  105  147    0    0    0    0  ...  255     1.0
311026  0  udp  private  SF  105  147    0    0    0    0  ...  255     1.0
311027  0  udp  private  SF  105  147    0    0    0    0  ...  255     1.0

        0.01  0.00.6  0.00.7  0.00.8  0.00.9  0.00.10  0.00.11         normal.
0       0.01    0.00     0.0     0.0     0.0      0.0      0.0         normal.
1       0.01    0.00     0.0     0.0     0.0      0.0      0.0         normal.
2       0.01    0.00     0.0     0.0     0.0      0.0      0.0  snmpgetattack.
3       0.01    0.01     0.0     0.0     0.0      0.0      0.0  snmpgetattack.
4       0.00    0.01     0.0     0.0     0.0      0.0      0.0  snmpgetattack.
...      ...     ...     ...     ...     ...      ...      ...             ...
311023  0.00    0.01     0.0     0.0     0.0      0.0      0.0         normal.
311024  0.00    0.01     0.0     0.0     0.0      0.0      0.0         normal.
311025  0.00    0.01     0.0     0.0     0.0      0.0      0.0         normal.
311026  0.00    0.01     0.0     0.0     0.0      0.0      0.0         normal.
311027  0.00    0.01     0.0     0.0     0.0      0.0      0.0         normal.

[311028 rows x 42 columns]

In [4]:
data_kdd.shape

(311028, 42)

In [5]:
data_kdd.describe()

,0,105,146,0.1,0.2,0.3,0.4,0.5,0.6,0.7,...,255,254,1.00.1,0.01,0.00.6,0.00.7,0.00.8,0.00.9,0.00.10,0.00.11
count,311028.000000,3.110280e+05,3.110280e+05,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,...,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000,311028.000000
mean,17.902793,1.731707e+03,7.479956e+02,0.000029,0.000762,0.000051,0.014677,0.002363,0.172476,0.011243,...,235.282618,199.193738,0.793494,0.024953,0.547920,0.004566,0.058764,0.058791,0.142659,0.141694
std,407.645054,1.276569e+05,1.612021e+04,0.005379,0.040367,0.009821,0.312069,0.049990,0.377795,1.958328,...,60.913386,100.306584,0.387090,0.096003,0.491963,0.035773,0.231296,0.232997,0.344380,0.346574
min,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.050000e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,244.000000,0.970000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,5.200000e+02,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,255.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.032000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255.000000,255.000000,1.000000,0.010000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,57715.000000,6.282565e+07,5.203179e+06,1.000000,3.000000,3.000000,101.000000,4.000000,1.000000,796.000000,...,255.000000,255.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
data_kdd.columns = ['duration','protocol_type','service','flag','src_bytes','dst_bytes','land','wrong_fragment','urgent','hot','num_failed_logins',
  'logged_in','num_compromised','root_shell','su_attempted','num_root','num_file_creations','num_shells','num_access_files',
  'num_outbound_cmds','is_host_login','is_guest_login','count','srv_count','serror_rate','srv_serror_rate','rerror_rate','srv_rerror_rate',
  'same_srv_rate','diff_srv_rate','srv_diff_host_rate','dst_host_count','dst_host_srv_count','dst_host_same_srv_rate',
  'dst_host_diff_srv_rate','dst_host_same_src_port_rate','dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate',
  'dst_host_rerror_rate','dst_host_srv_rerror_rate','target']


data_kdd.columns

Index(['duration', 'protocol_type', 'service', 'flag', 'src_bytes',
       'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot',
       'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell',
       'su_attempted', 'num_root', 'num_file_creations', 'num_shells',
       'num_access_files', 'num_outbound_cmds', 'is_host_login',
       'is_guest_login', 'count', 'srv_count', 'serror_rate',
       'srv_serror_rate', 'rerror_rate', 'srv_rerror_rate', 'same_srv_rate',
       'diff_srv_rate', 'srv_diff_host_rate', 'dst_host_count',
       'dst_host_srv_count', 'dst_host_same_srv_rate',
       'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate',
       'dst_host_srv_diff_host_rate', 'dst_host_serror_rate',
       'dst_host_srv_serror_rate', 'dst_host_rerror_rate',
       'dst_host_srv_rerror_rate', 'target'],
      dtype='object')

In [ ]:
print(data_kdd.dtypes)

In [ ]:
data_kdd

In [ ]:
data_kdd.isnull().sum()

* There are no missing values in the Correctd.gz dataset

In [ ]:
data_kdd.iloc[:,1].unique()

In [ ]:
data_kdd.iloc[:,41].unique()

In [ ]:
# Encoding Class Labels
# Protocol Mapping
protocol_map = {label: idx for idx, label in enumerate(np.unique(data_kdd['protocol_type']))}
data_kdd['protocol_type'] = data_kdd['protocol_type'].map(protocol_map)

In [ ]:
# Service Mapping
service_map = {label: idx for idx, label in enumerate(np.unique(data_kdd['service']))}
print(service_map)
data_kdd['service'] = data_kdd['service'].map(service_map)

In [ ]:
# Flag Mapping 
flag_map = {label: idx for idx, label in enumerate(np.unique(data_kdd['flag']))}
print(flag_map)
data_kdd['flag'] = data_kdd['flag'].map(flag_map)

In [ ]:
# Target Mapping 
target_map = {label: idx for idx, label in enumerate(np.unique(data_kdd['target']))}
print(target_map)
data_kdd['target'] = data_kdd['target'].map(target_map)

In [ ]:
# Target mapping for Attacks and Normal 
data_kdd['target'] = data_kdd['target'].map({16:0, 0:1, 1:1, 2:1, 3:1, 4:1, 5:1, 6:1, 7:1, 8:1, 9:1, 10:1, 11:1, 12:1, 13:1, 14:1, 15:1, 17:1, 18:1, 19:1, 20:1, 21:1, 22:1, 23:1, 24:1, 25:1, 26:1, 27:1, 28:1, 29:1, 30:1, 31:1, 32:1, 33:1, 34:1, 35:1, 36:1})

# Target Mapping 
* 0 --> Normal 
* 1 --> CyberAttack type  DoS

In [ ]:
print("DATA_KDD: \n", data_kdd)

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
print("Target: \n", data_kdd['target'])

In [ ]:
data_kdd.target.value_counts()

* Total count for the Attacks and without attacks

In [ ]:
# Count plot for the Target 
sns.countplot(x = "target" , data = data_kdd, palette = "bwr")